<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
<!--Test web jars-->
<div class="container"><br/>
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert"
           aria-label="close">×</a>
        <strong>Success!</strong> It is working as we expected.
    </div>
</div>
<!--Table Index-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <form  th:object="${rosaryGroup}" th:action="@{/index}" method="post">
            <input type="hidden" class="form-control" th:field="*{id}"/>
            <label>Group Name</label>
            <input type="text" class="form-control" th:field="*{name}"/>
            <input type="submit" value="Submit" />
        </form>
    </div>
</div>
</body>
</html>