<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/groupForm.css">
</head>
<body>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <form  th:object="${rosaryGroup}" th:action="@{'/index/' + ${rosaryGroup.groupNumber} + '/edit'}" method="post">
<!--            todo: ograniczenia-->
            <input type="hidden" class="form-control" id = "gId" th:field="*{id}"/>
            <label for="gNr">Droup Id: </label>
            <input type="text" class="form-control" id="gNr" th:field="*{groupNumber}"/>
            <label for="gName">Nazwa Grupy:</label>
            <input type="text" class="form-control" id = "gName" th:field="*{name}"/>
            <input type="submit" value="Złóż formularz" id="submit-button"/>
            <!--operation choice-->
            <div class="form-check">
                <input class="form-check-input" type="radio" name="opOption" id="opOption1" value="switch" checked>
                <label class="form-check-label" for="opOption1"> Swich </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="opOption" id="opOption2" value="insert">
                <label class="form-check-label" for="opOption2"> Insert </label>
            </div>

        </form>
    </div>
</div>
</body>
</html>