<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Spis Rórz</title>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet"/>
    <link href="/css/show.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container-fluid">
    <div class="raw">
        <div class="col-md-12">

    <h1>Wspólnota Żywego Różańca Świętego pw. <span th:text="${rosaryGroup.getName()}"></span></h1>
    <table class="table-bordered ">
        <thead>
        <tr>
            <th>Nr.</th>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>Telefon</th>
            <th>Komórka</th>
            <th>Kod-poczt</th>
            <th>Adress</th>
            <th>Rok Wst.</th>
            <th>Urodziny</th>
            <th>Imieniny</th>
            <th>Notatki</th>
            <th>Edytuj</th>
            <th>Usuń</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="member:${rosaryGroup.rosaryMembers}" th:class="${member.role}">
            <td th:text="${member.memberOrder}">334</td>
            <td th:text="${member.firstName}">Kartol</td>
            <td th:text="${member.lastName}">Kartol</td>
            <td th:text="${member.phone}">Kartol</td>
            <td th:text="${member.mobile}">334</td>
            <td th:text="${member.postCode}">Kartol</td>
            <td th:text="${member.address}">Kartol</td>
            <td th:text="${#calendars.format(member.joiningDate,'YYYY')}">Kartol</td>
            <td th:text="${#calendars.format(member.birthDate,'YYYY-MM-dd')}">Kartol</td>
            <td th:text="${#calendars.format(member.nameDay,'MM-dd')}">Kartol</td>
            <td th:text="${member.notes}">Kartol</td>
            <td><a th:href="@{'/index/' + ${rosaryGroup.id} + '/show/'+${member.memberId} +'/edit'}">Edytuj</a>
            </td>
            <td><a th:href="@{'/index/' + ${rosaryGroup.id} + '/show/'+${member.memberId} + '/delete'}">Usuń</a></td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary btn-lg" href="#" id="new-button" role="button"
       th:href="@{'/index/' + ${rosaryGroup.id} +'/show/new'}">Dodaj Rróże</a>
        </div>
    </div>
</div>
</body>
</html>