<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Spis Rórz</title>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet"/>
    <link href="/css/show.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/show.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="raw">
        <div class="col-md-12">

    <h1>Wspólnota Żywego Różańca Świętego pw. <span th:text="${groupName}"></span></h1>
    <table class="table-bordered ">
        <thead>
        <tr>
            <th>Nr.</th>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>Telefon</th>
            <th>Komórka</th>
            <th>Kod-poczt</th>
            <th>Adress</th>
            <th>Rok Wst.</th>
            <th>Urodziny</th>
            <th>Imieniny</th>
            <th>Notatki</th>
        </tr>
        </thead>
        <tbody>

        <tr  th:each="member:${rosaryMemberList}" th:class="${member.role}" >
            <td th:text="${member.memberOrder}">334</td>
            <td th:text="${member.firstName}">Kartol</td>
            <td th:text="${member.lastName}">Kartol</td>
            <td th:text="${member.phone}">Kartol</td>
            <td th:text="${member.mobile}">334</td>
            <td th:text="${member.postCode}">Kartol</td>
            <td th:text="${member.address}">Kartol</td>
            <td th:text="${member.joiningDate}">Kartol</td>
            <td th:text="${#calendars.format(member.birthDate,'YYYY-MM-dd')}">Kartol</td>
            <td th:text="${#calendars.format(member.nameDay,'MM-dd')}">Kartol</td>
            <td th:text="${member.notes}">Kartol</td>
        </tr>
        </tbody>
    </table>
            <h1>Tajemnice <span th:text="${groupName}"></span> 2022</h1>
            <div class="container">
                <div class="col">
            <table class="table-bordered ">
                <thead>
                <tr>
                    <th>Imie</th>
                    <th>Nazwisko</th>
                    <th class="STY">STY</th>
                    <th class="LUT">LUT</th>
                    <th class="MAR">MAR</th>
                    <th class="KWI">KWI</th>
                    <th class="MAJ">MAJ</th>
                    <th class="CZE">CZE</th>
                    <th class="LIP">LIP</th>
                    <th class="SIE">SIE</th>
                    <th class="WRZ">WRZ</th>
                    <th class="PAZ">PAZ</th>
                    <th class="LIS">LIS</th>
                    <th class="GRU">GRU</th>
                </tr>
                </thead>
                <tbody>

                <tr  th:each="secret:${rosarySecretsLIst}" >
                    <td th:text="${secret.firstName}">Kartol</td>
                    <td th:text="${secret.lastName}">Kartol</td>
                    <a th:each="pledge:${secret.secretCalendar}">
                    <td th:text="${pledge.name}">Kartol</td>
                    </a>
                </tr>
                </tbody>
            </table>
            </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>