@media print{

    @page {
            size:  A3 landscape;
    }
}
body{
    /*font-family: 'Autour One', sans-serif;*/
    font-family: 'Aladin', sans-serif;
}
img{
    margin-left: 3%;
    z-index: 2;
    width: 8%;
    height: 8%;
}
h1{
    text-align: center;
    margin-bottom: 0%;
    font-family: 'Aladin', sans-serif;
    font-size: 65px;
}

table, tr, td, th{
    border: 2px solid black;
    border-collapse: collapse;
    z-index: 2;
}
th{
    text-align: center;
    font-size: 30px;
    color: #90031E;
}



a{
    display:inline-block;
    width: 0%;
}



 
table{
    margin-left:2% ;
    margin-top: 3%;
}


tr td + td{
    width: 95px;
    font-weight: bold;
}

tr td{
    width: 320px;
    font-size: 30px;
    font-weight: bold;
}

tr:last-child{
    text-align: center;
    font-size: 20px;
    color: #90031E;
}