
h1{
    text-align: center;
}

h3{
    text-align: center;
}

.table{
    width: 90%;
    border-collapse: collapse;
    margin: 5% 5% 0 5%;
}

.table-bordered{
    border: 1px solid black;
}

table tr th:nth-child(1){
    width: 5%;
}

table tr th:nth-child(n+3){
    width: 7%;
}

#new-button{
    margin-left: 5%;
    margin-top: 10px;
}
