
input{
    align-content: center;
}
#submit{
    margin-top: 20px;

}


#roles{
    margin-top: 20px;
}

.col-sm{
    margin: 1% 1% 1% 1%;
    border: inset lightgray 2px;
    border-radius: 12px;
}

#subGrid{
    border: hidden;
}

.card{
    margin: 5%;
    height: auto ;
}

.card-header{
    font-size: 30px;
    color: white;
}