@page {
  size: A4 landscape;
}

body{
font-family: 'Jua', sans-serif;
font-size:19px;
}
.Mies{
font-size:18px;
}

h2{
text-align: left;
}


h5{
    text-align: center;
}


.Zel , .c-red{
    color: red;
}

.c-blue{
    color: blue;
}

.c-green{
    color: green;
}

.Z-ca,.Z-Sen{
    color: green;
}

table{
    width: 90%;
    margin-left: 5%;
}

#new-button{
    margin: 2% 5%;
}

#dyzur{
p
}

table,
thead,
tr,
tbody,
th,
td {
  text-align: center;
}

th, td{
border: 2px solid black;
}

.kwadrat{
position: absolute;
}