<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/harmonogram.css">
    <script type="text/javascript" src="/js/harmonogram.js"></script>
</head>
<body>
    <div class = "container-fluid">
      <h1>Wspólnota Żywego Różańca Sw. - Kalendarz</h1>
        <div class="container-fluid">
            <table>
                <tr>
                    <td>Hello</td>
                </tr>
                <tr>
                    <td>Everyone</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>