<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script type="text/javascript" src="js/index.js"></script>
</head>
<body>
<h1>Wspólnota Żywego Różańca Swiętego Sanktuarium Matki Bożej Fatimskiej</h1>
<h3>Gdańsk żabianka</h3>
<div class=pl.tomskr.rosary_manager.domain.RosaryGroup"container-fluid" id="table-container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ng</th>
                <th>Nazwa</th>
                <th>Pokaż</th>
                <th>Edytuj</th>
                <th>Usuń</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="rosaryGroup:${rosaryGroups}">
                <td th:text="${rosaryGroup.groupNumber}">3</td>
                <td th:text="${rosaryGroup.name}">Kartol</td>
                <td><a href="#" th:href="@{'/index/' + ${rosaryGroup.groupNumber} + '/show'}">Pokaż</a></td>
                <td><a href="#" th:href="@{'/index/' + ${rosaryGroup.groupNumber} + '/edit'}">Edytuj</a></td>
                <td><a href="#" th:href="@{'/index/' + ${rosaryGroup.groupNumber} + '/delete'}">Usuń</a></td>
            </tr>
        </tbody>
    </table>
    <a href="#" th:href="@{'index/new'}" class="btn btn-info" role="button" id="new-button">New</a>
    <a href="#" th:href="@{'index/harmonogram'}" class="btn btn-info" role="button" id="harmonogram-button">Harmonogram</a>
    <a href="#" th:href="@{'index/sort'}" class="btn btn-info" role="button" id="sort-button">Sort</a>
</div>
</body>
</html>