<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Autour+One&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Aladin&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/harmonogram.css">
    <script type="text/javascript" src="/js/harmonogram.js"></script>
</head>
<body>
<div class="landscape">
    <div class = "container-fluid">
        <h1>Wspólnota Żywego Różańca Św. - Kalendarz na rok 2022<img src="/img/line-drawing-rose.jpg" alt="dark flower png"></h1>

        <div class="container-fluid">
            <table>
                <tr>
                    <th>Nr Róży, wezwanie, zelator</th>
                    <th class="STY"></th>
                    <th class="LUT"></th>
                    <th class="MAR"></th>
                    <th class="KWI"></th>
                    <th class="MAJ"></th>
                    <th class="CZE"></th>
                    <th class="LIP"></th>
                    <th class="SIE"></th>
                    <th class="WRZ"></th>
                    <th class="PAZ"></th>
                    <th class="LIS"></th>
                    <th class="GRU"></th>
                </tr>
                <tr th:each="rosaryGroup:${rosaryGroups}" class = "table-row">
                    <td th:text="${rosaryGroup.groupNumber} + '.    ' +${rosaryGroup.name}">
                    </td>
                    <td>
                        <a th:each="event:${rosaryGroup.eventSet}">
                        <svg width="80" height="50"   th:style="'position: relative; left:'+ ${(event.eventStart.dayOfYear*3.1)-15} + 'px;z-index:' + ${event.id+3}">
                            <g>
                                <rect  x="1" y="5"  rx="10" ry="10" th:width="${((event.eventStop.dayOfYear - event.eventStart.dayOfYear)*3.1)+30}" height="40" style="fill:#D6FFF9;stroke:#D6FFF9;stroke-width:3"/>
                                <text x="40%" y="50%" dominant-baseline="middle" text-anchor="middle"  fill="black" font-weight="bold"  font-size="25px"  th:text="${event.eventStart.dayOfMonth} + '-' + ${event.eventStop.dayOfMonth}"> Hello </text>
                            </g>
                        </svg>
                        </a>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id = "tableNote">
                    <td>Pierwsze niedziele m-ca 2022</td>
                    <td class="STY"></td>
                    <td class="LUT"></td>
                    <td class="MAR"></td>
                    <td class="KWI"></td>
                    <td class="MAJ"></td>
                    <td class="CZE"></td>
                    <td class="LIP"></td>
                    <td class="SIE"></td>
                    <td class="WRZ"></td>
                    <td class="PAZ"></td>
                    <td class="LIS"></td>
                    <td class="GRU"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>